>

<!-- Toolbar -->
<div class="toolbar text-center justify-content-center" role="banner">
  <h4>fibonacci no. </h4>


</div>

<div class="content" role="main">
  <div class="container">
    <button type="button" class="btn " (click)="NEW()" [ngClass]="{'disabled btn-secondary': isData,'btn-outline-primary':!isData}">NEW</button>
    &ndash;
    <button type="button" class="btn btn-secondary " (click)="Clear()">Clear All</button>
  </div>



  <div class="row mt-4" style="gap:12px">

    <div class="card col-5" *ngFor="let item of data;let i = index;let last = last">
      <div class="col">
        <ng-container *ngIf="last">
          <div class="" style="display: flex;justify-content: center;">
            <span class="material-symbols-outlined" style="cursor: pointer;" (click)="ADD(item)">
              add
            </span>
            <span class="material-symbols-outlined" style="cursor: pointer;" (click)="DELETE(item)">
              delete
            </span>
          </div>
        </ng-container>
      </div>
      <div class="col">
        <div class="" style="display: flex; flex-direction: column;">
          <p> input = {{item.input}} </p>
          <p> result = {{item.result}} </p>
          <p> resultStep = <code>{{item.resultstep}}</code> </p>
        </div>
      </div>
    </div>


  </div>






</div>